#header {
	margin-right: auto
	position: relative;
	padding:10px 10px 10px 10px;
	top: -10px;
	background-color: #3c4543;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	text-align:center;
	font-size:2em;
	font-family:cursive;
}

#logo{
	top:1%;
	left:1%;
	position:relative;
	float:left;
	box-shadow: rgba(0,0,0,0.2) 6px 6px;
	border-radius:15px;
}